

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,500;1,600;1,700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-transform: capitalize;
    list-style: none;
    
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
    padding-top: 20px;
}

.header .nav_bar a{
    padding-right: 30px;
    color: black;
    font-weight: 500;
}

.content_one{
   display: flex;
   padding-left: 100px; 
   justify-content: space-between;
}

.content_one h1{
    color: black;
    font-size: 50px;
    font-weight: 600;
    line-height: 1.2;
    padding-top: 120px;
}

.content_one h1 span{
    font-size: 60px;
    font-weight: 950;
    color: #017143;
}

.content_one button{
    background: #017143;
    color: #fff;
    margin-top: 15px;
    padding: 5px 20px;
    border: 2px solid #017143;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1.8; 
    border-radius: 30px;
    cursor: pointer;
}

.content_img{
    margin-right: 100px;
}

.content_img img{
    height: 450px;
    width: 300px;
    padding-top: 40px;
}

.social_media{
    display: flex;
    flex-direction: column;
    padding-right: 60px;
}

.social_media a{
    padding-bottom: 20px; 
}

.social_media a img{
    color: #fff;
}